.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: 100vh;
  padding: 0;
  background: #ffffff;
  box-shadow: inset -1px 0px 0px #f1f1f1;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 24px;
}

.content {
  margin-top: 30px;
}

.menuItem {
  display: flex;
  height: 48px;
  width: 240px;
  align-items: center;
  padding-left: 25px;
  gap: 25px;
}

.activeMenuItem {
  background: #f7f7fb;
  border-right: solid 4px #4040f2;
}

.footer {
  position: absolute;
  bottom: 0;
}

.profile {
  margin-top: 10px;
  height: 92px;
  box-shadow: inset 0px 1px 0px #f1f1f1;
}

.menuTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #4f5b67;
}

.activeMenuTitle {
  color: #0d0d54;
}

.plan {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #4f5b67;
}
